<div class="mdl-cell--4-col cell">
    <button disabled={{@disabled}} class="mdl-button" type="button" {{on "click" @onClick}}>
        <i class="material-icons-outlined {{@icon}}">{{@icon}}</i>
    </button>
</div>
