<dialog class="mdl-dialog" open>
  <div class="mdl-dialog__content">
    <h2>{{@gameOver}}</h2>
  </div>
  <div class="mdl-dialog__actions mdl-dialog__actions">
    <button type="button" class="mdl-button" {{on "click" @reset}}>Play Again</button>
  </div>
</dialog>
